:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }



  html,body{
    height: 100%;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }



  *{
margin: 0;
padding: 0;
box-sizing: border-box;
}


/* NAV HEADER */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    top:0;
    left: 0;
    height: 9rem;
    width: 100%;
    gap:0.5rem;
    max-width: 100%;
    transition: 0.3s;
}

/* JAVACRIPT WORK */
.sticky{
 background-color: rgba(214, 202, 202, 0.95);
 position: fixed;
top:0;
left: 0;;
}

.logo-container{
    background-color: black;
    border-radius: 50%;
}
.logo-container img{
    width:30px;
    object-fit: contain;
}


.logoFlex{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 7rem;
}

.company-name p{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: color 2s;
}

.menu-container{
    padding-right: 7rem;
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}


.list-mother{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.list-mother li{
    float:left;
    margin-left: 4rem;
    align-items: center;
}

.list-mother li a{
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(36, 25, 25);
    transition: color 2s font-size 2s font-weight 2s;
    cursor: pointer;
}

.list-mother li a:hover{
font-size: 1.9rem;
color: rgb(23, 20, 20);
font-weight: 540;
}



.greenNav{
    background-color: var(--color-primary);
    border-radius: 5rem;
    padding: 15px 25px;
    margin-left: 3rem;
    cursor: pointer;
}

.greenNav a{
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    transition: color 2s font-size 2s font-weight 2s;
}

.greenNav:hover{
    background-color: var(--color-primary-darker);
}


.section{
    margin-top: 0;
}


.sectionFlex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    max-width: 100%;
    padding:7rem;
    width: 100%;
    border-bottom: 1px solid #333;
    transition: all 2s;
}

.firstsection-flex{
    width:65%;
    margin-bottom: 10rem;

}
.firstsection-flex h2{
    font-size: 7rem;
    /* padding-right: 8rem; */
    width: 100%;
    font-weight: 700;
    color: #333;
}


.spantype{
    position: relative;
}


 .spantype::after{
    background-image: var(--gradient-primary);
    content: ' ';
    display: block;
    transform: scale(1,1.05) skew(-15deg);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  opacity: 0.7;
  bottom: 0;
  left: 0;
  right: 5px;
} 

.spantypes::before{
    background-image: var(--gradient-primary);
    content: ' ';
    display: block;
    transform:scale(1,0.17) skew(-3deg);
    position: absolute;
    height: 100%;
    width: 30%;
    z-index: -1;
  opacity: 0.7;
  bottom: 10px;
  left: 45px;
  /* right:-200px; */
}


.firstsection-flex p{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2rem;
    color: #333;
}

.arrowPlace{
    margin-top: 3rem;
}
.arrowPlace .arrow{
border-bottom: 1px solid var(--color-primary);
font-size: 1.7rem;
text-decoration: none;
font-weight: 300;
cursor: pointer;
color:var(--color-primary);
}

.alright{
    margin-left: 170px;
}

.arrow-span{
    font-size: 1.7rem; 
}

.secondSectionFlex{
    width: 35%;
}

.secondSectionFlex  img{
    width:400px;
}
/* END OF SECTION ONE */




/* BEGINING OF SECTION TWO */

.blocking-palace{
    margin-top: 11rem;
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 4rem;
}

.blocking-palace h5{
    font-size: 2rem;
    color: var(--color-primary);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.blocking-palace p{
    font-size: 4rem;
    font-weight: 700;
    color: #333;
}



.section2Flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-top: 3rem;
    /* margin-left: 0px; */
}

.imagesectiontwoFlex{
width: 40%;
}

.imagesectiontwoFlex img{
    width: 450px;
}

.contentsectiontwoFlex{
    width: 30%;
    padding-left: 15px;
    margin-left: 10px;
}
.circlecreation{
    width: 60px;
    height: 60px;
    background-color: var(--color-primary-opacity);
    border-radius: 50%;
    margin-bottom: 2rem;
}


.maincontent h5{
    font-size: 1.8rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 3rem;
}

.maincontent p{
    font-size: 1.5rem;
    color: currentColor;
    font-weight: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.section2{
    border-bottom: 1px solid #333;
}

/* END OF SECTION 2 AND BEGINING OF SECTION 3 */

.buttonsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-top: 20px;
   transform: translateY(30px);
}
.btns{
    margin-left: 20px;
}


.btn1 button{
    padding: 18px 55px;
    background-color: var(--color-secondary);
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
    color: #333;
}

.btn2 button{
    padding: 18px 55px;
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #333;
}

.btn3 button{
    padding: 18px 55px;
    background-color: var(--color-tertiary);
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #333;
}

.btn3 button:hover{
    background-color: var(--color-tertiary-darker);
}

.btn1 button:hover{
background-color: var(--color-secondary-darker);
}
.btn2 button:hover{
    background-color: var(--color-primary-darker);
}

.contentArea{
    background-color: rgb(45, 43, 43);
    width:80%;
    max-width: 100%;
    margin: auto;
    height:29rem;
    margin-bottom: 100px;
}

.content1 .circle{
    background-color: var(--color-secondary-opacity);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    width: 8%;
    padding-bottom: 20px;
}

.content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 7rem;
padding-left: 7rem;
padding-right: 7rem;
width: 100%;
}

.detail{
    width:85%;
}

.detail h5{
    color:#423e3e;
    font-size: 2.3rem;
    font-weight: 600;
    /* padding-top: 10px; */
    margin-bottom: 20px;
}


.detail p{
    color:#5d5959;
    font-size: 1.9rem;
    font-weight: 200;
    line-height: 30px;
}

.section3{
    border-bottom: 1px solid #333;
}

.content-hidden{
display:none;
}

.content-active{
display:block;
}

.testimonial-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 80px;
}

.arrows button{
    background-color: rgb(246, 237, 237);
    border-radius: 50%;
    font-size: 3rem;
    width: 60px;
    height: 60px;
    padding: 10px 25px;
    text-align: left;
    cursor: pointer;
    border: none;
}

.testimonial-content .testimonialh4{
font-size: 2.1rem;
font-weight: 700;
color: #333;
margin-bottom: 30px;
}


.testimonial-content .testimonialp{
    font-size: 1.9rem;
font-weight: 500;
color: #333;
line-height: 30px;
margin-bottom: 25px;
}

.testimonial-content{
    padding-left: 100px;
padding-right: 90px;
    margin: 10px;
    position: relative;
}

.testimonial-content::before{
    content:"\201C";
    position:absolute;
   color: var(--color-primary);
    /* right: 20px; */
    top:-70px;
    left: 40px;
    font-size: 200px;

}

.authorContainer{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-bottom: 100px;
}


.image{
    width:70px;
    height: 70px;
    border-radius: 50%;
}

.authorContainer .auhthorNamep{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0px;
}
.authorContainer .auhthorNameaddress{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0px;
}

.authorName{
    margin-left: 9px;
}

.oneBigBackground{
    background-color: rgb(49, 46, 46);
    width: 100%;
    max-width: 100%;
    height: 40rem;
}

.firstContent-bigBackground{
text-align: center;
margin-left: 80px;
margin-right: 80px;
padding-left: 170px;
padding-right: 170px;
padding-top: 120px;
}
.secondunder-bigBackground {
    margin-top: 50px;
    margin-left: 450px;
}
.secondunder-bigBackground button{
    background-color: var(--color-primary);
    padding: 25px 70px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.section5{
    border-bottom: 1px solid #918484;
}


.firstContent-bigBackground p{
    font-size: 35px;
    color: white;
}


/* END OF SECTION 5  */





/* BEGINING OF SECTION 6  */


.lastNavBar{
     padding-top: 130px; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
}

.Bigmummy{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-bottom:50px;
}

.Bigmummy li{
    float: left;
    margin-left: 40px;
}

.Bigmummy li a{
    font-size: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.imageLast{
    margin-bottom: 45px;
}
.imageLast img{
    width:50px;
}

.copyrightPlace p{
    color:rgb(129, 119, 119);
    font-size: 13px;
}

.copyrightPlace span{
    color:white;
}

/* MODAL JS */
.modal{
    width: 570px;
    height: 500px;
    background-color: rgb(245, 239, 239);
    margin: auto;
    margin-top: 10px;
    position: absolute;
    top:50px;
    left:350px;
    z-index: 10;
    position: fixed;
}

.cancelBtn{
font-size: 30px;
padding:20px 20px 0px 0px;
text-align: right;
color: #333;
}

.content-modal{
    font-size: 35px;
    padding-left:40px;
    margin-top: 20px;
    width:85%;
    position: relative;
    font-weight: 500;
    /* z-index: 99; */
}

.skew::after{
content:'';
position: absolute;
top: 40px;
bottom:0;
right:170px;
background-image:var(--gradient-primary);
transform: scale(1.02) skew(-17deg);
width:35%;
height:60%;
opacity: 0.7;
/* z-index: -1; */
}

.formFlex{
    display: flex;
    margin-top: 50px;
    padding-left: 75px;
    flex-wrap: wrap;
}

.label{
    font-size: 18px;
    font-weight: 700;
    padding-right: 65px;
    text-align: center;
    line-height: 40px;
}

.inputPlace input{
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    padding: 13px 35px;
    border-radius: 6px;
}

#label2{
    margin-top: 25px;
}

#labell{
    font-size: 16px;
    padding-right: 46px;
}

.modalBtn{
    padding-left: 190px;
}
.modalBtn button{
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 25px;
    padding: 15px 30px;
    width:200px;
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.hidden{
    display: none;
}

.overlay{
    width:100%;
    height: 100%;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
     background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}


.sidebar{
    display: none;
}




@media (max-width:799px){
.sidebar{
    font-size: 30px;
    font-weight: 500;
    display: block;
    position: fixed;
    right: 0px;
    top:0px;
    /* margin-bottom: 30px; */
}
#menuhidden{
    display: none;
}

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.5rem;
        top: 0;
        left: 0;
        height: 9rem;
        width: 100%;
        gap: 0.5rem;
        max-width: 100%;
        transition: 0.3s;
    }


    .logoFlex {
        padding-left: 3rem;
    }

    .menu-container {
        flex-direction: column;
        justify-content:center;
        align-items: center;
        align-content: center;
        text-align: left;
    }



    .list-mother li {
        margin-left: 0;
        float: none;
        padding-top: 3.5rem;
        text-align: left;
    }


    .greenNav {
        background-color: var(--color-primary);
        border-radius: 5rem;
        padding: 19px 14px;
        margin-left: 0rem;
        cursor: pointer;
        margin-top: 20px;
    }

  



.sectionFlex {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0rem;
   
}

.firstsection-flex {
    width: 0px;
    margin-bottom: 10rem;
    padding-left: 32px;
}

.firstsection-flex h2 {
    font-size: 5rem;
    padding-right: 0rem;
    width: 100%;
    font-weight: 700;
    color: #333;
}

.secondSectionFlex {
    width: 100%;
    text-align: center;
}
.secondSectionFlex  img {
    width: 372px;
}

.blocking-palace {
    margin-top: 8rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
}

.blocking-palace p {
    font-size: 3rem;
    font-weight: 600;
    color: #333;
}
.section2Flex {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3rem;
    margin-left: 0px;
}

.imagesectiontwoFlex {
    width: 100%;
}
.imagesectiontwoFlex img {
    width: 400px;
}
.contentsectiontwoFlex {
    width: 100%;
    padding-left: 0px;
    margin-left: 10px;
}

.imagesectiontwoFlex {
    width: 100%;
    margin-left: 0px;
}

.btns {
    margin-left: 0px;
}
.btn1 button {
    padding: 19px 30px;
}

.btn2 button {
    padding: 19px 30px;
}
.btn3 button {
    padding: 19px 30px;
   
}

.content1 {
    padding-top: 7rem;
    padding-left: 3rem;
    padding-right: 4rem;
    width: 100%;
}
.contentArea {
    width: 100%;
    margin: auto;
    height: 31rem;
    margin-bottom: 100px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 80px;
}

.testimonial-content {
    padding-left: 55px;
    padding-right: 0px;
    margin: 10px;
    position: relative;
}
.testimonial-content::before {
    content: "\201C";
    position: absolute;
    color: var(--color-primary);
    right: 20px;
    top: -72px;
    left: 0px;
    font-size: 196px;
}






































.secondunder-bigBackground {
    margin-top: 50px;
    margin-left: 0px;
}
}
